.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
}




.debugging {
    position: absolute;
    bottom: 48px;
    width: 400px;
    background-color: #b0e59a;
    padding: 48px;
}